
@{
    ViewBag.Title = "BookDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<h2>BookDetail</h2>


@model DataAccess.DTO.BookDTO


<div class="card-columns">

    <div class=card>
        <h3 class="card-header">@Model.BookName</h3>
        <div class="card-body" style="height: 400px;">
            <img href="https://imgbb.com/" src="@Model.BookImage" alt="Generic placeholder image" width="350" class="ml-lg-5 order-1 order-lg-2">
        </div>
        <div class="card-footer">
            <span class="text-muted">@(Model.Cost) VND</span>

            <a class="btn btn-primary"
               href="/UserInvent/AddBookToUserInvent?BookID=@Model.BookID"
               role="button">
                Buy
            </a>

        </div>
    </div>
</div>

