
@{
    ViewBag.Title = "BookEdit";
}
@model DataAccess.DTO.BookDTO
<h2>BookEdit</h2>

<h2>@Model.BookName</h2>
<h2>@Model.Cost</h2>
<h2>@Model.Pages</h2>
<img href="https://imgbb.com/" src="@Model.BookImageURL" class="card-img-top" width="150">
