@{
    ViewBag.Title = "Book Library";

}

@model DataAccess.DTO.RoleDTO
<br />

<link href="~/Content/Libs/cart.css" rel="stylesheet" />




<br />

@{
    if (Model.RoleID == 1)
    {
        <a class="btn btn-primary" href="/Book/BookCreate" role="button"><i>Add Book</i>  </a>
        <br />

        <br />
        <div class="form-group">
            <label>Chose Book Data File</label>
            <input type="file" class="form-control" id="ExcelFile">
            <button type="button" id="btn_ImportExcel" class="btn btn-primary">Import file Excel</button>

        </div>


        <br />


        <button type="button" id="btn_ExportExcel" class="btn btn-primary">Export to file Excel</button>
    }
}






@{
    <h1 style="display:flex;text-align:center;justify-content:center" class="display-4"> Well come @ViewData["UserName"] to our library  </h1>
}


<div class="container">
    <div class="row text-center text-white mb-5">
        <div>
            <h2 style="display:flex;text-align:center;justify-content:center">List Book Of Library</h2>
        </div>
    </div>
    <br />

    <div>
        @Html.Action("BookLibraryPartialView", "Book")
    </div>
</div>




<script>
    $(document).ready(function () {
        $("#btn_ImportExcel").click(function () {
            UploadExcelFile();
        });

        $("#btn_ExportExcel").click(function () {
            window.location.href = "/Book/ExportExcel";
        });
    });



    function UploadExcelFile() {
        var data = new FormData();
        var files = $("#ExcelFile").get(0).files;
        if (files.length > 0) {
            data.append("ExcelFile", files[0]);
        }



        $.ajax({
            type: "POST",
            url: "/Book/ImportBookByExel",
            data: data,
            contentType: false,
            processData: false,
            success: function (data) {

                var responsecode = data.ResponseCode;
                var des = data.Description;
                if (responsecode > 0) {

                    setTimeout(function () {
                        window.location.href = "/Book/Index";
                    }, 1000);


                    alert(des);

                } else {

                    alert(des);
                }
            },
            error: function (data) {
                //  utils.unloading();
                console.log("error:" + JSON.stringify(data));
            }
        });

    }


</script>