@{
    ViewBag.Title = "Book Library";

}

@model DataAccess.DTO.RoleDTO
<br />

<link  href="~/Content/Libs/cart.css" rel="stylesheet" />




<br />

@{
    if (Model.RoleID == 1)
    {
        <a class="btn btn-primary" href="/Book/BookCreate" role="button"><i>Add Book</i>  </a>
    }
}






@{
    <h1 style="display:flex;text-align:center;justify-content:center" class="display-4"> Well come @ViewData["UserName"] to our library  </h1>
}


<div class="container">
    <div class="row text-center text-white mb-5">
        <div>
            <h2 style="display:flex;text-align:center;justify-content:center">List Book Of Library</h2>
        </div>
    </div>
    <br />

    <div>
        @Html.Action("BookLibraryPartialView", "Book")
    </div>
</div>



