
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@{
    if (ViewBag.userRoleId == 2)
    {
        @Html.Action("ListUsersPartialView", "UserInvent")

    }
    else
    {
        @Html.Action("UserInvent", "UserInvent")
    }
}



