
@model List<DataAccess.DTO.UserDTO>




<table class="table" id="myTable">
    <thead>
        <tr>
            <th>
                UserAccount
            </th>
            <th>
                UserPassword
            </th>
            <th>
                UserFullName
            </th>

            <th>
                User Invent
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @item.UserAccount
                </td>
                <td>
                    @item.UserPassword
                </td>
                <td>
                    @item.UserFullName
                </td>
                <td>
                    <a href="/UserInvent/UserInventPartialView?UserID=@item.UserId">Invent</a>
                    
                </td>


            </tr>
        }
    </tbody>
</table>

<script>
    $(document).ready(function () {
        $('#myTable').DataTable();
    });
</script>
